body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}
li {
  list-style: circle;
}

.list {
  list-style: square;
}
* {
  color: var(--fontColor);
  font-family: helvetica;
}

body {
    background: var(--bg);
}
.btn {
  position: absolute;
  top: 20px;
  left: 1050px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}
.btn:focus { outline-style: none; }
.light-theme {
  color: #000000;
  background: #5A5558;
}
:root {
  --green: #5A5558;
  --white: #ffffff;
  --black: #000000;
}
.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}
.post {
    margin-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
}
.post p1{
    max-width: 1200px;
    padding: .5em;
    text-align: justify;
    margin: 0;
    top: 1.25em;
}
@font-face {
    font-family: 'hashtagregular';
    src: url('../fonts/Hashtag.ttf');
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6,h7,h8,h9 {
    font-family: 'hashtagregular';
    font-weight: normal;
}
@font-face {
    font-family: 'comicsansms';
    src: url('../fonts/comic.ttf');
    font-weight: normal;
    font-style: normal;
}
p {
    font-family: 'comicsansms';
    font-weight: normal;
}
@font-face {
    font-family: 'natsuki';
    src: url('../fonts/Ammys_Handwriting.ttf');
    font-weight: normal;
    font-style: normal;
}
a {
    font-family: 'natsuki';
    font-weight: normal;
}
.login {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.login h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #3274d6;
  	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: #3274d6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: #2868c7;
  	transition: background-color 0.2s;
}
